div.post {
    margin-top: 20px;
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.212);
}
a {
    text-decoration: none;
    color: #B0B3B8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.post-header{
    padding: 15px;
    background-color: #1C1E1F;
    display: flex;
    align-items: center;
}
div.post-main{
    padding: 0px 15px 15px 15px;
    background-color: #1C1E1F;
}
div.post-media {
    display: flex;
}
.media {
    width: 100%;
}
.post-options {
    background-color: #1C1E1F;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.content {
    margin: 0;
    word-wrap: break-word;
}

p.post {
    margin: 0;
    padding: 0;
}


.btn-post-option,
.btn-like {
    text-decoration: none;
    color: #B0B3B8;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}
.btn-post-option:hover,
.btn-post-option:focus,
.btn-like:hover,
.btn-like:focus {
    background-color: #2c2d2e;

}

.inactive {
    color: #B0B3B8;
}

.active {
    color: #1468fa;
}

/* .active:hover,
.active:focus{
    background-color: #1468fa;
    color: #E4E6EB;
} */
.like {
    cursor: pointer;
}

.comment-body {
    background-color: #2c3032;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}

.author-name {
    font-weight: 800;
}
.prepare-coment {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1E1F;
}