{% load static %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/chat/chat.css' %}">
    <title>Chat</title>
</head>
<body>
    <section class="chats">
        <div class="chat-header">
            <h1>Chats</h1>
        </div>
        {% for chat in chats %}
        <div id="button-chat" class="btn-chat" chatId="{{ chat.id }}" onclick="loadMessages('{{ chat.id }}')">
            <p id="receiverFullName">{{ chat.receiverFirstName }} {{ chat.receiverLastName }}</p>
        </div>
        {% endfor %}
    </section>
    <section class="chat-body" id="chat-body">
        <h1 class="info">Aquí se mostraran tus chats</h1>
        <div class="chat-details" id="chat-details">
        </div>
    </section>
    <section id="input-chat">
        <input type="text" id="message-input" placeholder="Escribe tu mensaje aquí">
        <button onclick="sendMensaje('{{ idAuth }}')">Enviar</button>
    </section>
</body>
<script src="https://www.gstatic.com/firebasejs/10.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.1/firebase-firestore-compat.js"></script>
<script src="{% static 'js/chat/messages.js' %}"></script>
</html>