{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<header>

        <div class="home">
            <a href="{% url 'home' %}">
                <div class="logo">
                    <img src="{% static 'img/favicon.jpg' %}" alt="avatar" class="logo">
                </div>
            </a>
            <input class="logo" type="text" placeholder="Search in Senatinet">
        </div>
    <div class="info-user">
        <a href="{% url 'viewUser' username=userLogin.username %}">
            <div class="avatar-icon">
                <img src="{{ userLogin.urlAvatar }}" alt="avatar" class="avatar-icon">
            </div>
         </a>
        <div class="text-user">
            <p class="user name">{{userLogin.firstName}} {{userLogin.lastName}}</p>
            <div class="state">
                <div class="state-circle"></div><p class="user state">{{userLogin.status}}</p> 
            </div>     
        </div>
    </div>
    <a class="btn-header" href="{% url 'userConfiguration' %}">Settings</a>
    <a class="btn-header" href="{% url 'exit' %}">Logout</a>
</header>