{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user/configuration.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>Configurar</title>
</head>
<body>
<form class="configurar" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <label for="">Avatar: </label>
        <input type="file" name="avatar" accept=".jpg, .gif" />
        <label for="">Nombre: </label>
        <input type="text" name="firstName" value="{{ userLogin.firstName }}" required>
        <label for="">Apellido: </label>
        <input type="text" name="lastName" value="{{ userLogin.lastName }}" required>
        <label for="">Correo: </label>
        <input type="email" name="email" value="{{ userLogin.email }}" required>
        <div>
            <!-- {{ password_form.as_p }} -->
        </div>
        <label for="">Dirección: </label>
        <input type="text" name="address" value="{{ userLogin.address }}" required>
        <label for="">País: </label>
        <input type="text" name="country" value="{{ userLogin.country }}" required>
        <label for="">Número: </label>
        <input type="text" name="number" value="{{ userLogin.number}}" required>
        <button type="submit" class="btn">Guardar</button>
    </form>
</body>
</html>